:root{
    /* color */
    --primary:#FF8FA3;
    --primary-hover:#FF6F8C;
    --bg-main:#0B0F0C;
    --bg-section:#1A1417;
    --text-main:#FFEAF0;
    --text-secondary:#D8B6C0;
    --border:#3A2730;
}