:root {
    /* color */
    --primary: #ff6b6b;
    --primary-hover: #ff4c4c;
    --bg-main: #0b0f0c;
    --bg-section: #161313;
    --text-main: #ffecec;
    --text-secondary: #d6b3b3;
    --border: #3a1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7%;
    background-color: rgb(26, 26, 26, 0.8);
    border-bottom: 1px solid rgb(37, 34, 52);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #d3d0d8;
}

.navbar .navbar-logo span {
    color: var(--primary);
    font-style: italic;
}

.navbar .navbar-nav a {
    position: relative;
    color: #d3d0d8;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #d3d0d8;
    margin: 0 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

#input {
    display: inline-block;
    color: var(--text-main);
    background-color: rgba(255, 255, 255, 0);
}

#input:hover {
    display: inline-block;
    color: var(--primary);
    background-color: rgba(255, 255, 255, 0);
}

/* main */
body {
    background-color: var(--bg-main);
}

body::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 150%;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
        0deg,
        rgb(11, 15, 12, 1) 8%,
        rgba(255, 255, 255, 0) 50%
    );
}

.war_machine::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/war_machine.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.top_gun_maverick::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/top_gun_maverick.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.the_maze_runner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/the_maze_runner.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.sinners::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/sinners.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.one_battle_after_another::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/one_battle_after_another.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.mencuri_raden_saleh::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/mencuri_raden_saleh.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.hunter_killer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/hunter_killer.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.ben_and_jody::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/ben_&_jody.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.Fire_and_ash::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/avatar_fire_and_ash.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.bomb-jakarta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/13_bom_di_jakarta.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.war_machine,
.top_gun_maverick,
.the_maze_runner,
.sinners,
.one_battle_after_another,
.mencuri_raden_saleh,
.hunter_killer,
.ben_and_jody,
.Fire_and_ash,
.bomb-jakarta {
    height: 100vh;
    background-color: rgba(11, 15, 12, 0.5);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.war_machine .content,
.top_gun_maverick .content,
.the_maze_runner .content,
.sinners .content,
.one_battle_after_another .content,
.mencuri_raden_saleh .content,
.hunter_killer .content,
.ben_and_jody .content,
.Fire_and_ash .content,
.bomb-jakarta .content {
    display: flex;
    justify-content: space-between;
    padding: 10rem;
}

.war_machine img,
.top_gun_maverick img,
.the_maze_runner img,
.sinners img,
.one_battle_after_another img,
.mencuri_raden_saleh img,
.hunter_killer img,
.ben_and_jody img,
.Fire_and_ash img,
.bomb-jakarta img {
    width: 25%;
    height: 25%;
    border: 0.2rem solid var(--bg-main);
    border-radius: 1rem;
    flex: 0 0 255px;
}

.war_machine .content .deskripsi,
.top_gun_maverick .content .deskripsi,
.the_maze_runner .content .deskripsi,
.sinners .content .deskripsi,
.one_battle_after_another .content .deskripsi,
.mencuri_raden_saleh .content .deskripsi,
.hunter_killer .content .deskripsi,
.ben_and_jody .content .deskripsi,
.Fire_and_ash .content .deskripsi,
.bomb-jakarta .content .deskripsi {
    padding: 1rem;
}

.div-akhir {
    padding: 3rem 3rem;
}

.div-akhir .back {
    color: var(--bg-main);
    background-color: var(--text-main);
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.div-akhir .back:hover {
    color: var(--primary);
}

/* media queries */
/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/* tablet */
@media (max-width: 850px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
        color: var(--text-main);
        background-color: rgba(255, 255, 255, 0);
    }

    #hamburger-menu:hover {
        display: inline-block;
        color: var(--primary);
        background-color: rgba(255, 255, 255, 0);
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(26, 26, 26, 0.8);
        width: 22rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        position: relative;
        right: 0%;
        color: var(--bg-main);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .about .row,
    .genre .row,
    .topThree .row,
    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0.5rem;
    }
}
/* handphone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
