:root{
    /* color */
    --primary:#FF8FA3;
    --primary-hover:#FF6F8C;
    --bg-main:#0B0F0C;
    --bg-section:#1A1417;
    --text-main:#FFEAF0;
    --text-secondary:#D8B6C0;
    --border:#3A2730;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7%;
    background-color: rgb(26, 26, 26, 0.8);
    border-bottom: 1px solid rgb(37, 34, 52);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #d3d0d8;
}

.navbar .navbar-logo span {
    color: var(--primary);
    font-style: italic;
}

.navbar .navbar-nav a {
    position: relative;
    color: #d3d0d8;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #d3d0d8;
    margin: 0 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

#input {
    display: inline-block;
    color: var(--text-main);
    background-color: rgba(255, 255, 255, 0);
}

#input:hover {
    display: inline-block;
    color: var(--primary);
    background-color: rgba(255, 255, 255, 0);
}

/* main */

body::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 150%;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
        0deg,
        rgb(11, 15, 12, 1) 8%,
        rgba(255, 255, 255, 0) 50%
    );
}


.Hancock::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/hancock.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.ghost_writer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/ghost_writer.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.gara_gara_warisan::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/gara_gara_warisan.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.free_guy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/free_guy.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.cek_toko_sebelah::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/cek_toko_sebelah.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}

.agak_laen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(../img/agak_laen.png);
    background-size: cover;
    background-position-y: -18rem;
    filter: blur(8px);
    z-index: -1;
}


.Hancock,
.ghost_writer,
.gara_gara_warisan,
.free_guy,
.cek_toko_sebelah,
.agak_laen {
    height: 100vh;
    background-color: rgba(11, 15, 12, 0.5);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.Hancock .content,
.ghost_writer .content,
.gara_gara_warisan .content,
.free_guy .content,
.cek_toko_sebelah .content,
.agak_laen .content {
    display: flex;
    justify-content: space-between;
    padding: 10rem;
}

.Hancock img,
.ghost_writer img,
.gara_gara_warisan img,
.free_guy img,
.cek_toko_sebelah img,
.agak_laen img {
    width: 25%;
    height: 25%;
    border: 0.2rem solid var(--bg-main);
    border-radius: 1rem;
    flex: 0 0 255px;
}

.Hancock .content .deskripsi,
.ghost_writer .content .deskripsi,
.gara_gara_warisan .content .deskripsi,
.free_guy .content .deskripsi,
.cek_toko_sebelah .content .deskripsi,
.agak_laen .content .deskripsi {
    padding: 1rem;
}

/* fitur kembali */
.div-akhir {
    padding: 3rem 3rem;
}

.div-akhir .back {
    color: var(--bg-main);
    background-color: var(--text-main);
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.div-akhir .back:hover {
    color: var(--primary);
}

/* media queries */
/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/* tablet */
@media (max-width: 850px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
        color: var(--text-main);
        background-color: rgba(255, 255, 255, 0);
    }

    #hamburger-menu:hover {
        display: inline-block;
        color: var(--primary);
        background-color: rgba(255, 255, 255, 0);
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(26, 26, 26, 0.8);
        width: 22rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        position: relative;
        right: 0%;
        color: var(--bg-main);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .about .row,
    .genre .row,
    .topThree .row,
    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0.5rem;
    }
}
/* handphone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
