:root{
    /* color */
    --primary:#FFD166;
    --primary-hover:#FFBE3D;
    --bg-main:#0B0F0C;
    --bg-section:#16140E;
    --text-main:#FFF6DA;
    --text-secondary:#D9CFA8;
    --border:#3A3220;
}