:root{
    /* color */
    --primary:#7AA2F7;
    --primary-hover:#5B8DEF;
    --bg-main:#0B0F0C;
    --bg-section:#121520;
    --text-main:#EAF1FF;
    --text-secondary:#B7C3E0;
    --border:#2A3148;
}