:root{
    /* color */
    --primary:#9B5DE5;
    --primary-hover:#7A3FD1;
    --bg-main:#0B0F0C;
    --bg-section:#141218;
    --text-main:#EFE9FF;
    --text-secondary:#BEB5D6;
    --border:#2B2638;
}