:root{
    /* color */
    --primary:#7DFFA0;
    --primary-hover:#4EF58A;
    --bg-main:#0B0F0C;
    --bg-section:#121815;
    --text-main:#E8EEE9;
    --text-secondary:#B9C3BD;
    --border:#27302B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(11, 15, 12, 0.8);
    border-bottom: 1px solid #2e5c3a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-main);
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary-hover);
}

.navbar .navbar-logo:hover {
    color: var(--primary-hover);
}

.navbar .navbar-nav a {
    color: var(--text-main);
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: var(--primary-hover);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary-hover);
    transform: scaleX(0);
    transition: 0.1s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: var(--text-main);
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary-hover);
}

#hamburger-menu {
    display: none;
}

/* media queries */
/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--text-main) ;
        width: 30rem;
        height: 100vh;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }
}

/* mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}