*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0d0d0d;
color:white;
}

/* NAVBAR */

.navbar{
position:sticky;
top:0;
background:#111;
display:flex;
justify-content:center;
align-items:center;
height:70px;
border-bottom:1px solid #222;
}

.nav-center{
display:flex;
gap:40px;
}

.nav-center a{
text-decoration:none;
color:white;
font-weight:500;
transition:0.3s;
}

.nav-center a:hover{
color:#7dffa0;
}

.logo{
position:absolute;
right:30px;
}

.logo a{
text-decoration:none;
font-size:20px;
font-weight:bold;
color:#7dffa0;
}


/* HERO */

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:48px;
margin-bottom:20px;
}

.hero p{
max-width:500px;
opacity:0.8;
margin-bottom:30px;
}

.cta{
text-decoration:none;
background:#7dffa0;
color:black;
padding:12px 25px;
border-radius:8px;
font-weight:bold;
}


/* FILM SECTION */

.films{
padding:80px 10%;
text-align:center;
}

.film-grid{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
}

.film-card{
background:#151515;
padding:25px;
border-radius:10px;
border:1px solid #222;
transition:0.3s;
}

.film-card:hover{
border:1px solid #7dffa0;
transform:translateY(-5px);
}

.film-card h3{
margin-bottom:10px;
}

.all-film{
display:inline-block;
margin-top:40px;
text-decoration:none;
color:black;
background:#7dffa0;
padding:12px 25px;
border-radius:8px;
font-weight:bold;
}


/* FEATURES */

.features{
padding:80px 10%;
background:#111;
text-align:center;
}

.feature-grid{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
}

.feature{
padding:25px;
background:#151515;
border-radius:10px;
border:1px solid #222;
}

.feature h3{
color:#7dffa0;
margin-bottom:10px;
}


/* FOOTER */

footer{
text-align:center;
padding:25px;
border-top:1px solid #222;
background:#0d0d0d;
font-size:14px;
opacity:0.7;
}