:root{
    /* color */
    --primary:#7DFFA0;
    --primary-hover:#4EF58A;
    --bg-main:#0B0F0C;
    --bg-section:#121815;
    --text-main:#E8EEE9;
    --text-secondary:#B9C3BD;
    --border:#27302B;
}